<nav class="navbar navbar-expand-xl navbar-light">
    <div class="container-fluid w-75">
        <a class="navbar-brand" href="/">Tienda Basica</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText"
            aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse show" id="navbarText">
            <ul class="navbar-nav ms-auto mb-2 mb-xl-0 me-5">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/products">Products</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" href="#" disabled>Coming Soon</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        {{ user?.firstname }}
                    </a>
                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownMenuLink">
                        <li><a class="dropdown-item disabled" href="#">Profile</a></li>
                        <li><button class="dropdown-item" (click)="logout()">Logout</button></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>